<home></home>


    <!-- <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
            <ul class="p-0">
              <li>
                <div class="row comments mb-2">
                  <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                      <img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
                  </div>
                  <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                    <h4 class="m-0"><a href="#">Jacks David</a></h4>
                      <time class="text-white ml-3">1 hours ago</time>
                     
                      <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
                  </div>
                </div>
              </li>
              <ul class="p-0">
                <li>
                  <div class="row comments mb-2">
                    <div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
                        <img id="profile-photo" src="http://nicesnippets.com/demo/man02.png" class="rounded-circle" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
                      <h4 class="m-0"><a href="#">Steve Alex</a></h4>
                        <time class="text-white ml-3">1 week ago</time>
                       
                        <p class="mb-0 text-white">Thank you for visiting all the way from NYC.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </ul>
            <ul class="p-0">
              <li>
                <div class="row comments mb-2">
                  <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                      <img id="profile-photo" src="http://nicesnippets.com/demo/man03.png" class="rounded-circle" />
                  </div>
                  <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                    <h4 class="m-0"><a href="#">Andrew Filander</a></h4>
                      <time class="text-white ml-3">7 day ago</time>
                     
                      <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
                  </div>
                </div>
              </li>
              <ul class="p-0">
                <li>
                  <div class="row comments mb-2">
                    <div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
                        <img id="profile-photo" src="http://nicesnippets.com/demo/man04.png" class="rounded-circle" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
                      <h4 class="m-0"><a href="#">james Cordon</a></h4>
                        <time class="text-white ml-3">1 min ago</time>
                       
                        <p class="mb-0 text-white">Thank you for visiting from an unknown location.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </ul>
            <ul class="p-0">
              <li>
                <div class="row comments mb-2">
                  <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                      <img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
                  </div>
                  <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                    <h4 class="m-0"><a href="#">Tye Simmon</a></h4>
                      <time class="text-white ml-3">1 month ago</time>
                     
                      <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="row comment-box-main p-3 rounded-bottom">
                <div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
                <input type="text" class="form-control" placeholder="comment ...." />
                </div>
                <div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
                  <button class="btn btn-info">Send</button>
                </div>
            </div>
          </div>
        </div>
      </div> -->









      <!-- <div class="detailBox">
          <div class="titleBox">
            <label>Comment Box</label>
              <button type="button" class="close" aria-hidden="true">&times;</button>
          </div>
          <div class="commentBox">
              
              <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="actionBox">
              <ul class="commentList">
                  <li>
                      <div class="commenterImage">
                        <img src="http://placekitten.com/50/50" />
                      </div>
                      <div class="commentText">
                          <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
      
                      </div>
                  </li>
                  <li>
                      <div class="commenterImage">
                        <img src="http://placekitten.com/45/45" />
                      </div>
                      <div class="commentText">
                          <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">on March 5th, 2014</span>
      
                      </div>
                  </li>
                  <li>
                      <div class="commenterImage">
                        <img src="http://placekitten.com/40/40" />
                      </div>
                      <div class="commentText">
                          <p class="">Hello this is a test comment.</p> <span class="date sub-text">on March 5th, 2014</span>
      
                      </div>
                  </li>
              </ul>
              <form class="form-inline" role="form">
                  <div class="form-group">
                      <input class="form-control" type="text" placeholder="Your comments" />
                  </div>
                  <div class="form-group">
                      <button class="btn btn-default">Add</button>
                  </div>
              </form>
          </div>
      </div> -->
     


      <div class="container">
          <div class="row " style="padding-top:40px;">
              <h3 class="text-center" >BOOTSTRAP CHAT EXAMPLE </h3>
              <br /><br />
              <div class="col-md-8">
                  <div class="panel panel-info">
                      <div class="panel-heading">
                          RECENT CHAT HISTORY
                      </div>
                      <div class="panel-body">
          <ul class="media-list">
          
                                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle " src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                        
                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                              Duis vel condimentum massa.
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                                                              <br />
                                                             <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                                              <hr />
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle " src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                        
                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                              Duis vel condimentum massa.
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                                                              <br />
                                                             <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                                              <hr />
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle " src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                        
                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                              Duis vel condimentum massa.
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                                                              <br />
                                                             <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                                                              <hr />
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle " src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                        
                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. 
                                                              Duis vel condimentum massa.
                                                              Donec sit amet ligula enim. Duis vel condimentum massa.
                                                              <br />
                                                             <small class="text-muted">Jhon Rexa | 23rd June at 5:00pm</small>
                                                              <hr />
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                                          </ul>
                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                                              <input type="text" class="form-control" placeholder="Enter Message" />
                                              <span class="input-group-btn">
                                                  <button class="btn btn-info" type="button">SEND</button>
                                              </span>
                                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                         ONLINE USERS
                      </div>
                      <div class="panel-body">
                          <ul class="media-list">
          
                                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Alex Deo | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Jhon Rexa | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Alex Deo | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Jhon Rexa | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Alex Deo | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
               <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Jhon Rexa | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.png" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Alex Deo | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                              <li class="media">
          
                                                  <div class="media-body">
          
                                                      <div class="media">
                                                          <a class="pull-left" href="#">
                                                              <img class="media-object img-circle" style="max-height:40px;" src="assets/img/user.gif" />
                                                          </a>
                                                          <div class="media-body" >
                                                              <h5>Jhon Rexa | User </h5>
                                                              
                                                             <small class="text-muted">Active From 3 hours</small>
                                                          </div>
                                                      </div>
          
                                                  </div>
                                              </li>
                                          </ul>
                          </div>
                      </div>
                  
              </div>
          </div>
            </div>
       
          
        

          


