<app-session></app-session>

     <div class="container">

            <div class="row mt-5">

                <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">

                    <div class="row comment-box-main p-3 rounded-bottom">

                        <div class="col-md-9 col-sm-9 col-9 pr-0">

                        <input type="text" class="form-control" placeholder="Type a message" />

                        </div>

                        <div class="col-md-3 col-sm-2 col-2 pl-0 text-center">

                        <button mat-raised-button color="warn">Send</button>

                        </div>

                    </div>

                </div>

            </div>

      </div> 









     